<template>
    <counter></counter>
    <counter :value="22"></counter>
</template>

<script>

import Counter from "./Counter";
export default {
    name: 'App',
    components: {Counter},
};
</script>