<template>
    <div>
        {{count}}
        <button @click="inc.handleClick">+</button>
        <button @click="decr.handleClick">-</button>
    </div>
</template>

<script>
    import {ref} from "vue";
    import incBehavior from './behaviors/inc'
    import decrBehavior from './behaviors/decr'
    export default {
        name: "Counter",
        props: ['value'],
        setup(props) {
            let count = ref(props.value ?? 0);

            const decr = decrBehavior(count);
            const inc = incBehavior(count);

            return {
                inc,
                decr,
                count
            }
        }
    };
</script>