<template>
  <div>
    <my-element :value="12"></my-element>
    <my-element :value="24"></my-element>
  </div>
</template>

<script>

    import MyElement from "./MyElement";
    export default {

        name: 'App',
      components: {MyElement},
    }
</script>