<template>
    <div>
        {{count}}
        <button @click="handleClickInc">+</button>
        <button @click="handleClickDecr">-</button>
    </div>
</template>

<script>

    import Counter from './mixins/counter';
    import CountDown from './mixins/countDown';

    export default {
        name: 'MyElement',
        mixins: [Counter, CountDown]
    };
</script>